.container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
}

.login{
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  /* border: 1px solid grey; */
  border-radius: 8px;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  width: 70%;
}

mat-form-field{
  width: 100%;
}
