<div class="container">
  <div class="login mat-elevation-z1">
    <h2>Welcome to my app</h2>
    <form #loginForm="ngForm" (ngSubmit)="loginUser(loginForm)">
      <mat-form-field appearance="outline">
        <mat-label>email</mat-label>
        <input matInput type="text" name="email" ngModel required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" name="password" ngModel required>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Login</button>
    </form>
    <p>Don't have an account ? <a routerLink="#">click here</a></p>
  </div>
</div>
